@charset "UTF-8";


.areas-de-atuaçao{
    font-size: 2rem;
    padding: 2rem;
    padding-top: 5rem;
    background-color:#0B1C2C ;
    
    box-shadow: 1px 1px 20px 0px rgb(6 5 5);
    
}
.conteiner-flex-atuaçao{
    display: flex;
    flex-direction: column;
    
}

.especialidade{
    text-align:  center;
    background-color: white;
    color: black;
    margin-bottom: 5rem;
    padding: 2rem;
    flex: 1 1 295px;
    border-radius: 20px;
    background-image: url(../imagens/fundo-atuaçao.png);
    
}
.img-logo{
    width: 7rem;
    height: 7rem;
}
.conteiner-titulos-atuaçao{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 5.5vw;
    margin: 0%;
    font-family: 'Playfair Display SC';
    color: #A08452 ;
    
}
.conteiner-titulos-atuaçao h3{
    margin: 0%;
        width: 65vw;
}
.titulo-espaço{
    text-align: center;
}









#titulo-atuacao{
  text-align: center;
font-size: 6vh;
color: #A08452 ;
font-family: 'Playfair Display SC';
font-weight: 400;
line-height: 6vh;
}
#atuaçao-titulo{
    
}
#titulo-profissional{
    color: #0B1C2C;
}
