@charset "UTF-8";


.areas-de-atuaçao{
    font-size: 2rem;
    padding: 2rem;
    padding-top: 5rem;
    
    height: 100%;
    background-color:#0B1C2C ;
    
}
.conteiner-flex-atuaçao{
    display: flex;
    flex-direction: column;
    
}
#titulo-atuacao{
text-align: center;
font-size: 6rem;
}
.especialidade{
    background-color: white;
    color: black;
    margin-bottom: 5rem;
    padding: 2rem;
    flex: 1 1 295px;
    border-radius: 20px;
    background-image: url(../imagens/fundo-atuaçao.png);
}
.img-logo{
    width: 7rem;
    height: 7rem;
}
.conteiner-titulos-atuaçao{
    display:flex;
    flex-direction: row;
    justify-content:center;
    
}
