@charset "UTF-8";


.footer{
    font-size: 2rem;
    text-align: center;
    color: #ffffff;
    background-color: #0B1C2C;
   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg fill-opacity='0.09'%3E%3Cpolygon fill='%231c3a57' points='800 100 0 200 0 800 1600 800 1600 200'/%3E%3Cpolygon fill='%2332597d' points='800 200 0 400 0 800 1600 800 1600 400'/%3E%3Cpolygon fill='%234d779e' points='800 300 0 600 0 800 1600 800 1600 600'/%3E%3Cpolygon fill='%237895af' points='1600 800 800 400 0 800'/%3E%3Cpolygon fill='%23a5b2bf' points='1280 800 800 500 320 800'/%3E%3Cpolygon fill='%23ccd0d4' points='533.3 800 1066.7 800 800 600'/%3E%3Cpolygon fill='%23EEE' points='684.1 800 914.3 800 800 700'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}
.footer h3{
    text-align: left;
    padding-left: 7vw;
}
.footer-inicio{
    display: flex;
    font-size: 7.5vw;
    padding-left: 7vw;
    gap: 5vw;
    
}
.footer-inicio img{
    width: 17vw;
    height: 9vh;
    padding-top: 2vh;
}
.footer-cont{
    text-align: left;
    padding-left: 7vw;
}
.footer-cont h3{
    padding-left: 0%;
}
.footer-copy p{
    margin: 0%;
    font-size: 3vw;
    padding: 1vh;
    
    color: #A08452;
}
.footer-loca{
    padding-left: 7vw;
    text-align: left;
}
.footer-loca h3{
    text-align: left;
    padding: 0%;
}
footer a{
    color: #A08452;
}

