@charset "UTF-8";


.footer{
    font-size: 2rem;
    text-align: center;
    color: #A08452;
}
.footer h3{
    text-align: left;
    padding-left: 7vw;
}
.footer-inicio{
    display: flex;
    font-size: 6.5vw;
    padding-left: 7vw;
    gap: 1vw;
    
}
.footer-inicio img{
    width: 17vw;
    height: 9vh;
    padding-top: 2vh;
}
.footer-copy p{
    margin: 0%;
    font-size: 3vw;
    padding: 1vh;
    background-color:  #0B1C2C;
    color: #A08452;
}
.footer-loca{
    padding-left: 7vw;
    text-align: left;
}
.footer-loca h3{
    text-align: left;
    padding: 0%;
}

/*curva footer*/

.curva-cima {
      position: relative;
      bottom: 8px;
      left: 0;
      width: 100%;
      overflow: hidden;
      line-height: 0;
      z-index: 2;
  }
  
  .curva-cima svg {
      position: relative;
      bottom: 0px;
      display: block;
      width: calc(100% + 148.3px);
      height: 10px;
      
      
  }
  
  .curva-cima .shape-fill {
      fill: #0B1C2C;
      
  }
  

.curva-baixo {
    position: relative;
    bottom: 10px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    z-index: 2;
}

.curva-baixo svg {
    position: relative;
    display: block;
    width: calc(122% + 71.3px);
      height: 10px;
}

.curva-baixo .shape-fill {
    fill: #0B1C2C;
}
