@charset "UTF";

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@400;700;900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,600;1,600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;1,500&display=swap');
 



html, body{
    font-size: 62.5%;
    margin: 0%;
    padding: 0%;
    
}
p{
    font-family: 'playfair display';
    font-weight: 500;
}
h1 ,h2 ,h3{
    font-family: 'playfair display sc';
}






/*aqui fica a curva que uso para a separaçao de seçao*/


/*
.curva-cima {
      position: relative;
      bottom: 8px;
      left: 0;
      width: 100%;
      overflow: hidden;
      line-height: 0;
      z-index: 2;
  }
  
  .curva-cima svg {
      position: relative;
      bottom: 0px;
      display: block;
      width: calc(100% + 148.3px);
      height: 10px;
      
      
  }
  
  .curva-cima .shape-fill {
      fill: #0B1C2C;
      
  }
  

.curva-baixo {
    position: relative;
    bottom: 10px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    z-index: 2;
}

.curva-baixo svg {
    position: relative;
    display: block;
    width: calc(122% + 71.3px);
      height: 10px;
}

.curva-baixo .shape-fill {
    fill: #0B1C2C;
}