@charset "UTF-8";

.conteiner-color{
    background-color: #0a192f;
}



 .conteiner-hero{
    display: flex;
    align-items: end;
        height: 60vh;
       position: relative;
}
.conteiner-hero a{
    color: #a08452;
    text-decoration: none;
}
.hero-titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #a08452;
    position: absolute;
    top: 20%;
    left: 19%;


}
.img-hero{
    width: 400px;
    height:400px;
}
