@charset "UTF-8";


.conteiner-color{
    color: white;
     background-color: #0B1C2C;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg fill-opacity='0.09'%3E%3Cpolygon fill='%231c3a57' points='800 100 0 200 0 800 1600 800 1600 200'/%3E%3Cpolygon fill='%2332597d' points='800 200 0 400 0 800 1600 800 1600 400'/%3E%3Cpolygon fill='%234d779e' points='800 300 0 600 0 800 1600 800 1600 600'/%3E%3Cpolygon fill='%237895af' points='1600 800 800 400 0 800'/%3E%3Cpolygon fill='%23a5b2bf' points='1280 800 800 500 320 800'/%3E%3Cpolygon fill='%23ccd0d4' points='533.3 800 1066.7 800 800 600'/%3E%3Cpolygon fill='%23EEE' points='684.1 800 914.3 800 800 700'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    background-position-x: 70%;
    
}
.conteiner-hero{
 position: relative;
 padding-top: 33vh;
 
}
.cta-hero{
     position: absolute;
    bottom: 56%;
    
}
.cta-hero h1{
    margin: 0%;
    font-size: 15vw;
    color: #A08452;
    padding-left: 9%;
    font-family: 'Playfair Display SC';
    font-weight: 600;
    line-height: 16vw;
}
#tamanho-titulo-hero{
    font-size: 16vw;
    letter-spacing: 0.6vw;
    
}

.cta-hero p{
    margin: 0%;
    margin-bottom: 4vh;
    width: 65vw;
    text-align: left;
    font-size: 7.2vw;
    text-transform: capitalize;
    padding-left: 9%;
    font-family: 'Playfair Display SC';
    line-height: 11vw;
}
#cor{
    color: #A08452;
}
.cta-hero a{
    background-color: #A08452;
    color: #0B1C2C;
    font-size: 5.3vw;
    padding: 3%;
    border-radius: 10px;
    text-decoration: none;
    margin-left: 9%;
    font-weight: bolder;
}


.img-hero {
  width: 100%;
}
  

