@charset "UTF-8";




.nav-inicial{
    display: flex;
    justify-content: space-between;
}
.nav-inicial img{
   width: 90px;
   height: 60px;
}

.nav-botoes{
    display: flex;
    gap: 1rem;
    list-style-type: none;
    font-size: 2rem;
}
.nav-botoes a{
    color: #a08452;
    text-decoration: none;
}
