@charset "UTF-8";

.sobre{
    position: relative;
}
.conteiner-titulo-sobre{
    display: flex;
    justify-content: center;
    font-size: 3rem;
    margin-bottom: 20rem;
    color: #a08452;
    
}
.conteiner-color-texto{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6b4e2e;
    height: 32.1rem;
    width: 22.5rem;
    border-radius: 2rem;
    position: absolute;
    top: 14rem;
    left: 13.3rem;
}
.texto-descritivo{
    position: relative;
    font-size: 1.5rem;
    padding: 0px 10px 0px 10px;
    text-align: center;
    color:#e4e4e4 ;
}
.conteiner-sobre{
    margin-left: 5%;

}
.img-sobre{
    border-radius: 2rem;
        width: 60vw
        
}