@charset "UTF-8";

.conteiner-fundo{
    background-image: url(../imagens/fundo-sobre.png);
    background-repeat: no-repeat;
    background-size: cover;
     display: flex;
    flex-direction: column;
    
}
.conteiner-titulo-sobre{
    font-size: 5rem;
    text-align: center;
}
.conteiner-balança{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.conteiner-color-texto{
    font-size: 2rem;
    padding: 8%;
}